@charset "UTF-8";


/*------------------------------------------------------*/
/*	contact.css				*/
/*							*/
/*			'2021/04New			*/
/*------------------------------------------------------*/

h1{
	padding-top:26px;padding-bottom:26px;
	background-image: url(../images/bgWood1.png);background-repeat:repeat;box-shadow: 0 5px 10px 0 #f0e6e5;
	color:#755248;/*font-weight:normal;*/
	text-align:center;
}

/*
	id="sec1Block"
*/

.sec1TellBlock{text-align:center;color:#755248;}
.sec1TellBlock img{width:320px;}

/*	id="sec1Block"end	*/

/*
	id="sec2Block"
*/
.contactFormTbl{width:100%;border-collapse:collapse;}
.contactFormTbl th{
	padding-top:10px;width:30%;
	font-weight:normal;
	vertical-align:top;
}
.contactFormTbl td{
	padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;
	font-size:80%;;font-weight:normal;
}
.contactFormTbl p{margin-bottom:4px;}
.formPost{width:30%;}
.mandatory{color:#ff0000;font-weight:bold;}

.privacyBlock{padding:16px;height:150px;border:1px solid #000;overflow:scroll;}
.privacyBlock p{margin-bottom:8px;}


/*----------------------*/
/*	responsive	*/
/*----------------------*/
/*↓↓Mobile↓↓*/
@media screen and (max-width: 480px) {
.formBox{width:200px;}


}
